Q1)What are data structures, and why are they important?<br>
A1)Data structures are ways of organizing and storing data efficiently for easy access and modification. They are important because they determine the performance of operations such as searching, sorting, and data manipulation.

Q2) Explain the difference between mutable and immutable data types with examples?<br>
A2)Mutable data types are the data types in which we can change the value.<br>
ex:-list,dict, set,etc.<br>
immutable data types are the data types in which we can not change the value.<br>
ex:-tuple

Q3)What are the main differences between lists and tuples in Python?<br>
A3)Lists are mutable, tuples are immutable.<br>
Lists use more memory than tuples due to extra flexibility.<br>
Tuples have faster iteration due to immutability.<br>

Q4)Describe how dictionaries store data.
A4)Dictionaries store data as key-value pairs using a hash table for fast lookups.

```
my_dict = {"name": "Alice", "age": 25}

```

Q5)Why might you use a set instead of a list in Python3?<br>
A5)Sets store unique elements (remove duplicates automatically).<br>
Sets allow faster lookups (O(1)) than lists (O(n)).

Q6) What is a string in Python, and how is it different from a list?<br>
A6)A string is a sequence of characters, immutable like tuples.<br>
A list is mutable and can store different types of elements.

Q7) How do tuples ensure data integrity in Python?<br>
A7)Since tuples are immutable, they prevent accidental modification, making them useful for constants.

Q8) What is a hash table, and how does it relate to dictionaries in Python?<br>
A8)A hash table stores key-value pairs using a hashing function.
Pythonâ€™s dict is implemented as a hash table, allowing fast O(1) lookups.

Q9)Can lists contain different data types in Python?<br>
A9)Yes, Python lists can hold mixed types.


```
my_list=[1,2,3.3,"mayank",4+5j]
```

Q10) Explain why strings are immutable in Python.<br>
A10) Strings are immutable for security, performance, and hashability (used as dictionary keys).

Q11) What advantages do dictionaries offer over lists for certain tasks?<br>
A11)Faster lookups (O(1) in dict vs. O(n) in lists).<br>
Meaningful key-value association rather than index-based access.

Q12) Describe a scenario where using a tuple would be preferable over a list.<br>
A12)Storing coordinates ((x, y, z)) or database records where data should not change.

Q13) How do sets handle duplicate values in Python?<br>
A13)Sets automatically remove duplicates upon insertion.




```
my_set = {1, 2, 2, 3}  # Output: {1, 2, 3}

```

Q14) How does the in keyword work differently for lists and dictionaries?<br>
A14)Lists: in searches element-wise (O(n)).<br>
Dictionaries: in checks keys only (O(1)).

```
print(2 in [1, 2, 3])  # True
print(2 in {2: "value"})  # True

```

Q15) Can you modify the elements of a tuple? Explain why or why not.<br>
A15)No, tuples are immutable, so elements cannot be changed after creation.

Q16) What is a nested dictionary, and give an example of its use case?<br>
A16) A dictionary containing another dictionary.

```
student = {
    "name": "Alice",
    "marks": {"math": 90, "science": 85}
}

```

Q17) Describe the time complexity of accessing elements in a dictionary.<br>
A17) Average case: O(1) (hash table lookup).
Worst case: O(n) (if hashing causes collisions).

Q18)In what situations are lists preferred over dictionaries?<br>
A18) When order matters.
When keys are unnecessary (e.g., sequential processing).

Q19) Why are dictionaries considered unordered, and how does that affect data retrieval?<br>
A19)Before Python 3.7, dictionaries did not maintain insertion order.<br>
In Python 3.7+, they retain order but should not be relied upon in older versions.

Q20) Explain the difference between a list and a dictionary in terms of data retrieval.<br>
A20)List: Access by index (O(1)).<br>
Dictionary: Access by key (O(1)) but requires meaningful keys

In [1]:
#Q1)Write a code to create a string with your name and print it.
output=input("Enter the name:")
print(output)

Enter the name:Mayank
Mayank

In [2]:
#Q2) Write a code to find the length of the string "Hello World"
string="Hello world"
len(string)

11

In [3]:
#Q3)Write a code to slice the first 3 characters from the string "Python Programming"
string="Python Programming"
string[0:3]

'Pyt'

In [4]:
#Q4)Write a code to convert the string "hello" to uppercase
string="hello"
string.upper()

'HELLO'

In [5]:
#Q5)Write a code to replace the word "apple" with "orange" in the string "I like apple"
string= "I like apple"
string.replace("apple","orange")

'I like orange'

In [6]:
#Q6) Write a code to create a list with numbers 1 to 5 and print it.
list=[]
for i in range(1,6):
  list.append(i)
list

[1, 2, 3, 4, 5]

In [8]:
#Q7)Write a code to append the number 10 to the list [1, 2, 3, 4]
list=[1,2,3,4]
list.append(10)
list

[1, 2, 3, 4, 10]

In [9]:
#Q8)Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list=[1,2,3,4,5]
list.remove(3)
list

[1, 2, 4, 5]

In [10]:
#Q9) Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list= ['a', 'b', 'c', 'd']
list[1]

'b'

In [11]:
#Q10)Write a code to reverse the list [10, 20, 30, 40, 50].
list=[10,20,30,40,50]
list[::-1]

[50, 40, 30, 20, 10]

In [13]:
#Q11) Write a code to create a tuple with the elements 100, 200, 300 and print it.
t=(100,200,300)
t

(100, 200, 300)

In [14]:
#Q12)Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
t=('red', 'green', 'blue', 'yellow')
t[1:]

('green', 'blue', 'yellow')

In [16]:
#Q13)Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t=(10, 20, 5, 15)
min =t[0]
for i in t:
  if(i<min):
    min=i
print(min)

5

In [20]:
#Q14) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t=('dog', 'cat', 'rabbit')
t.index("cat")

1

In [21]:
#Q15) Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "cherry")

if "kiwi" in fruits:
    print("Kiwi is in the tuple!")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [22]:
#Q16). Write a code to create a set with the elements 'a', 'b', 'c' and print it
s={'a','b','c'}
s

{'a', 'b', 'c'}

In [23]:
#Q17) Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s={1, 2, 3, 4, 5}
print(s)
s.clear()
print(s)

{1, 2, 3, 4, 5}
set()

In [24]:
#Q18) Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s={1,2,3,4}
s.remove(4)
s

{1, 2, 3}

In [26]:
#Q19)Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1={1,2,3}
s2={3,4,5}
s1|s2

{1, 2, 3, 4, 5}

In [27]:
#Q20)Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1={1,2,3}
s2={2,3,4}
s1 &s2

{2, 3}

In [30]:
#Q21)Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
d={"name":"Mayank","age":20,"city":"Ghaziabad"}
d

{'name': 'Mayank', 'age': 20, 'city': 'Ghaziabad'}

In [34]:
#Q22) Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d2= {'name': 'John', 'age': 25}
print(d2)
d2["country"]= "USA"
print(d2)

{'name': 'John', 'age': 25}
{'name': 'John', 'age': 25, 'country': 'USA'}

In [35]:
#Q23) Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d3= {'name': 'Alice', 'age': 30}
d3["name"]

'Alice'

In [38]:
#Q24) Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d4={'name': 'Bob', 'age': 22, 'city': 'New York'}
del d4["age"]
d4

{'name': 'Bob', 'city': 'New York'}

In [40]:
#Q25)Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
d5={'name': 'Alice', 'city': 'Paris'}
for i in d5.keys():
  if(i=="city"):
    print(True)

True

In [41]:
#Q26) Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3, 4, 5]
my_tuple = ("apple", "banana", "cherry")
my_dict = {"name": "Alice", "age": 25, "city": "New York"}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

In [42]:
#Q27)Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random

numbers = [random.randint(1, 100) for _ in range(5)]  # Generate 5 random numbers
numbers.sort()  # Sort in ascending order

print("Sorted List:", numbers)

Sorted List: [14, 15, 29, 72, 88]

In [43]:
#Q28)Write a code to create a list with strings and print the element at the third index.
my_list = ["apple", "banana", "cherry", "kiwi", "mango"]

print("Element at index 3:", my_list[3])

Element at index 3: kiwi

In [44]:
#Q29) Write a code to combine two dictionaries into one and print the result.
d3.update(d4)
print("Combined Dictionary:", d3)

Combined Dictionary: {'name': 'Bob', 'age': 30, 'city': 'New York'}

In [46]:
#Q30) Write a code to convert a list of strings into a set
my_list = ["apple", "banana", "cherry", "apple", "banana"]

my_set = set(my_list)  # Convert list to set

print("Set:", my_set)

Set: {'apple', 'cherry', 'banana'}